*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.general{
    border: 1px solid black;
    margin: 0px;
}

header{
    background-color: gray;
    color: white;
    margin: 0;
    text-align: center;
    height: 100px;
    line-height: 100px;
}
#menu{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color:darkgray;
}

#menu ul{
    list-style-type: none;
}
#menu  a{
    width: 100px;
    color:black;
    float: left;
    margin-right: 15px;
    border-right: 1px solid black;

}




body{
    margin: 20px;


}
#principal{
    max-width: 800px;
    float: left;
    text-align: center;
}


.caja{
    width: 300px;
    height: 300px;
    line-height: 300px;
    background-color: gray;
    color: white;
    border: 5px solid darkslategray;
    border-radius: 20px;
    margin: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-left: 15px;
    margin-left: 20px;
    margin-bottom: 13px;
    padding: 20px;
    float: left;
    display: block;
}

.clearfix{
    float: none;
    clear: both;

}

aside p{

    float: right;
    max-width: 400px;
    max-height: 1300px;
    text-align: center;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    text-align: justify;

}
footer{
    text-align: center;
    height: 50;
    line-height: 50px;
    background-color: darkgray;
}